body{
    margin: 0;
    text-align: center;
}

h1{
    margin-top: 0;
}

.head {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle{

}

.footer{

}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px
}


.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
/*
position:relative Сохраняет позицию других элементов и двигает только один элемент
position:absolute Двигает элемент но другие элементы смещаются на место этого
*/